version: '3.5'

services:
  dummyhttp:
    image: "svenstaro/dummyhttp:1.1.2@sha256:a744c7862b5d7032ae1bd03d03d45a26bac21aafca717760cd1f97e14fd4c54a"
  crs:
    image: "owasp/modsecurity-crs:4-apache-202404131004@sha256:9c20dd4756378de04c3587911efdf37c15614403c0540e008f16ca1cdbc63cba"
    environment:
      PORT: 8080
      BACKEND: "http://dummyhttp:8080"
      MODSEC_RULE_ENGINE: "On"
      BLOCKING_PARANOIA: 4
      MODSEC_AUDIT_LOG_FORMAT: JSON
      MODSEC_AUDIT_LOG_TYPE: concurrent
      MODSEC_TMP_DIR: "/tmp"
      # Apache only
      SERVERNAME: _default_
      MODSEC_ERROR_LOG: "/dev/stderr"
      MODSEC_AUDIT_LOG: "/var/log/apache2/modsec_audit.log"
    hostname: crs
  nuclei:
    image: projectdiscovery/nuclei:latest@sha256:d76713284ad05000fe3450beb63e3eb57f082d25756b6c9ca451e6d9bd7543fc
    hostname: nuclei
    container_name: nuclei
    command: -u http://crs:8080 -t http/cves -type http -stats -ni -sresp -jle output.json
    volumes:
      - ./output:/output:rw
    depends_on:
      - dummyhttp
      - crs
