version: '3.5'

services:
  dummyhttp:
    image: "svenstaro/dummyhttp:1.1.1@sha256:cdd9a69c26b16a9fd16990432a69a07fbf4f6211f369d7d4665415c99a559e27"
  crs:
    image: "owasp/modsecurity-crs:4-apache-202404131004@sha256:9c20dd4756378de04c3587911efdf37c15614403c0540e008f16ca1cdbc63cba"
    environment:
      PORT: 8080
      BACKEND: "http://dummyhttp:8080"
      MODSEC_RULE_ENGINE: "On"
      BLOCKING_PARANOIA: 4
      MODSEC_AUDIT_LOG_FORMAT: JSON
      MODSEC_AUDIT_LOG_TYPE: concurrent
      MODSEC_TMP_DIR: "/tmp"
      # Apache only
      SERVERNAME: _default_
      MODSEC_ERROR_LOG: "/dev/stderr"
      MODSEC_AUDIT_LOG: "/var/log/apache2/modsec_audit.log"
    hostname: crs
  nuclei:
    image: projectdiscovery/nuclei:latest@sha256:0b2e74b4968adf36109d64592a2b1cca6e573620b8738fbc4b4f2f949215be6d
    hostname: nuclei
    container_name: nuclei
    command: -u http://crs:8080 -t http/cves -type http -stats -ni -sresp -jle output.json
    volumes:
      - ./output:/output:rw
    depends_on:
      - dummyhttp
      - crs
