name: Run Nuclei
on:
  # Run every sunday
  schedule:
    - cron: "0 12 * * SUN"
  workflow_dispatch:
env:
  REPO_OWNER: ${{ github.repository_owner }}
  NUCLEI_VERSION: '3.2.5'

jobs:
  project-runner:
    name: Project runner
    # seaweed configurations
    env:
      TAG: "lfi,xss,fileupload,xxe,injection,traversal,disclosure,auth-bypass,ssrf,sqli,oast,rce"
    runs-on: ubuntu-latest
    services:
      dummyhttp:
        image: "svenstaro/dummyhttp:1.1.2@sha256:a744c7862b5d7032ae1bd03d03d45a26bac21aafca717760cd1f97e14fd4c54a"
      waf:
        image: "owasp/modsecurity-crs:4-apache-202404131004@sha256:9c20dd4756378de04c3587911efdf37c15614403c0540e008f16ca1cdbc63cba"
        ports:
          - 8080:8080
        env:
          MODSEC_RULE_ENGINE: "On"
          SERVERNAME: "_default_"
          MODSEC_AUDIT_LOG: "/var/log/apache2/modsec_audit.log"
          BLOCKING_PARANOIA: 4
          BACKEND: "http://dummyhttp:80"
    steps:          
      - name: Nuclei - Vulnerability Scan
        uses: projectdiscovery/nuclei-action@a4ae23f2522c29f17a696be94fea5f394ac6843f # v3.0.0
        with:
          target: "http://127.0.0.1:8080"
          flags: "-t http/cves -type http -stats -ni -sresp"
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: zip output
        run: |
          zip -qq -r output.zip output

      - name: GitHub Workflow artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: output
          path: output.zip

  process-artifacts:
      name: Generate report
      runs-on: ubuntu-latest
      needs: [project-runner]
      outputs:
        total_requests: ${{ steps.report.outputs.total_requests }}
        total_blocked: ${{ steps.report.outputs.total_blocked }}
        total_not_blocked: ${{ steps.report.outputs.total_not_blocked }}
        partially_blocked: ${{ steps.report.outputs.partially_blocked }}
      steps:
        - name: Checkout code
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

        - name: Setup Go
          uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
          with:
            go-version: '^1.22.3'

        - name: Download artifacts
          uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
          with:
            name: output

        - name: Build report
          id: report
          run: |
            go build
            unzip -qq output.zip
            ./project-seaweed -o output >> "$GITHUB_OUTPUT"


  slack-notification:
   name: Send notification
   runs-on: ubuntu-latest
   needs: process-artifacts
   env:
     total_requests: ${{ needs.process-artifacts.outputs.total_requests }}
     total_blocked: ${{ needs.process-artifacts.outputs.total_blocked }}
     total_not_blocked: ${{ needs.process-artifacts.outputs.total_not_blocked }}
     partially_blocked: ${{ needs.process-artifacts.outputs.partially_blocked }}
   steps:
     - name: Success
       uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
       with:
         webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
         webhook-type: incoming-webhook
         payload: |
           {
           "text": "Testing finished!",
           "attachments": [
             {
               "color": "28a745",
               "fields": [
                 {
                   "title": "Status",
                   "value": "Complete"
                 },
                 {
                   "title": "total requests - cves tested",
                   "value": ${{ env.total_requests }}
                 },
                 {
                   "title": "blocks",
                   "value": ${{ env.total_blocked }}
                 },
                 {
                   "title": "partially blocked",
                   "value": ${{ env.partially_blocked }}
                 },
                 {
                   "title": "non blocks",
                   "value": ${{ env.total_not_blocked }}
                 }
               ]
             }
             ]
           }


